<app-login-box></app-login-box>
<div>
  <div class="inicio">
    <div class="blueBar">
      <div class="container">
        <img src="../../../assets/LogoXcomm.png" />
        <h2>X-Comm Telecommunications</h2>
      </div>
    </div>
    <div class="Menu">
      <table>
        <tr>
          <td colspan="2"><h2>Bienvenido a</h2></td>
        </tr>
        <tr>
          <td colspan="2"><h1>X-Comm Telecomunicaciones</h1></td>
        </tr>
        <tr class="espacioBlanco">
          <!--ESPACIO EN BLANCO PARA LLEGAR A LOS BOTONES-->
        </tr>
        <tr>
          <td colspan="2"><h1>Soy...</h1></td>
        </tr>
        <tr class="botones">
          <td><input type="button" value="Empresa de Telefonia Fija" /></td>
          <td>
            <input
              type="button"
              value="Administrativo Xcomm"
              (click)="ingresarAdmin()"
            />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
