.saludo{
    position:relative;
    top: 10vh;
    width:70vw;
}
.saludo tr td{
    text-align: center;
    color: rgb(0, 119, 255);
}
.saludo tr td h1{
    margin: 0;
}
.visual{
    width:70vw;
    margin: 0;
}
.status{
    position:relative;
    top:20vh;
    left:10vw;
    color: rgb(0, 119, 255);
    width:60vw;
}
.texto{
    width:30%;
}