<div class="visual">
    <table class="saludo">
        <tr><td><h1>Bienvenido</h1></td></tr>
        <tr><td><h1>Administrativo Xcomm</h1></td></tr>
    </table>

    <table class="status">
        <tr>
            <td class="texto">Total de clientes registrados:</td>
            <td>{{ this.status.clientesRegistrados }}</td>
        </tr>
        <tr>
            <td class="texto">Total de llamadas hechas:</td>
            <td>{{ this.status.llamadasHechas }}</td>
        </tr>
        <tr>
            <td class="texto">Total de llamadas reportadas:</td>
            <td>{{ this.status.llamadasReportadas }}</td>
        </tr>
    </table>
</div>