.visual{
    width:70vw;
    height:99vh;
    position: relative;
    color: rgb(0, 119, 255);
    font-size: 1em;
}
.middleBox{
    width:40vw;
    height:75vh;
    border: 2px solid black;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;    
    transform: translate(-50%, -50%);
}
.sheet{
    width: 30%;
    transform: translate(-30%, -30%);
}
.datos{
    margin-left:auto;
    margin-right:auto;
    transform: translate(0%, -20%);
}
select{
    width:100%;
}
.boton{
    width:7vw;
    height:5vh;
    position: relative;
    left:54%;
}
.botonContainer{
    
}