<div class="visual">
    <div class="middleBox">
        <img src="../../../assets/FileImage.png" class="sheet" />
        <table class="datos">
            <tr>
                <td>NIT</td>
                <td><input type="text" placeholder="Digite nit de la empresa" [(ngModel)]="convenio.nit"/></td>
            </tr>
            <tr>
                <td>Fecha de creación de convenio</td>
                <td><input type="date" [ngModel]="convenio.fecha_creacion | date:'yyyy-MM-dd'"
                        (ngModelChange)="convenio.fecha_creacion = $event" [disabled]="!editar" /></td>
            </tr>
            <tr>
                <td>Razón social</td>
                <td><input type="text" [(ngModel)]="convenio.razon_social" [disabled]="!editar" /></td>
            </tr>
            <tr>
                <td>Costo por segundo</td>
                <td><input type="number" [(ngModel)]="convenio.costo_segundo" [disabled]="!editar" /></td>
            </tr>
            <tr>
                <td>Periodicidad del archivo</td>
                <td>
                    <select [ngModel]="convenio.periodicidad_archivo" (ngModelChange)="onChange_0($event)" name="primer_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of periodicidades">{{i | CustomPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Primer parámetro del archivo</td>
                <td>
                    <select [ngModel]="convenio.primer_param_archivo" (ngModelChange)="onChange_1($event)" name="primer_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of parametros">{{i | ParamPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Segundo parámetro del archivo</td>
                <td>
                    <select [ngModel]="convenio.segundo_param_archivo" (ngModelChange)="onChange_2($event)" name="segundo_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of parametros">{{i | ParamPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Tercer parámetro del archivo</td>
                <td>
                    <select [ngModel]="convenio.tercer_param_archivo" (ngModelChange)="onChange_3($event)" name="tercer_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of parametros">{{i | ParamPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Cuarto parámetro del archivo</td>
                <td>
                    <select [ngModel]="convenio.cuarto_param_archivo" (ngModelChange)="onChange_4($event)" name="cuarto_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of parametros">{{i | ParamPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Quinto parámetro del archivo</td>
                <td>
                    <select [ngModel]="convenio.quinto_param_archivo" (ngModelChange)="onChange_5($event)" name="quinto_param" [disabled]="!editar">
                        <option [value]="i" *ngFor="let i of parametros">{{i | ParamPipe}}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="botonContainer">
                    <button mat-raised-button color="primary" (click)="volverClicked()" class="boton">Volver</button>
                    <button mat-raised-button color="primary" (click)="guardarClicked()" class="boton">{{textoBoton}}</button>
                </td>
            </tr>
        </table>
    </div>
</div>